.login__input{
    border: 1px solid #c0bdbd;
    height: 35px;
    width: 100%;
    font-size: 14px;
    padding-left: 5px;
    font-weight: 500;
    border-radius: 7px;
    box-shadow: 0 5px 5px rgba(0,0,0,0.1);
}
.login__label{
    font-size: 14px;
    font-weight: bold;
}
